# Base de données cache
http_cache.sqlite
*.sqlite
data/other/
data/QGIS-Training-Data/
dist/
dist_old/

# === Dossiers de données volumineuses à ignorer ===

__pycache__/
country-flag-icons/
cartograpy/__pycache__/

# === Fichiers compilés Python ===
*.pyc
*.pyo
*.pyd
*.so

# === Sauvegardes et fichiers temporaires ===
*.swp
*.swo
*.bak
*.tmp
*~

# === Fichiers de logs ===
*.log

# === Fichiers de configuration perso ===
.env
.DS_Store
Thumbs.db
.pypirc
# === Optionnel : ignorer les svg du dossier cartograpy/svg/ (sauf si tu veux les garder sur GitHub) ===
# cartograpy/svg/
