# Base de données cache
http_cache.sqlite
*.sqlite
data/
data/QGIS-Training-Data/
dist/
dist_old/
hydrorivers_data/
temp_countries/
cache/
_extensions/
*.tif
# === Dossiers de données volumineuses à ignorer ===

__pycache__/
country-flag-icons/
cartograpy/__pycache__/

# === Build / packaging / configuration ===
*.egg-info/
build/
.eggs/
*.whl
.vscode/
.idea/
.pytest_cache/
.venv/
# === Fichiers compilés Python ===
*.pyc
*.pyo
*.pyd
*.so


# === Fichiers bash (cmd) ===
*.cmd
*.bat


# === Sauvegardes et fichiers temporaires ===
*.swp
*.swo
*.bak
*.tmp
*~

# === Fichiers de logs ===
*.log

# === Fichiers de configuration perso ===
.env
.DS_Store
Thumbs.db
.pypirc

# === Optionnel : ignorer les svg du dossier cartograpy/svg/ (sauf si tu veux les garder sur GitHub) ===
# cartograpy/svg/
